{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_filters_group }}</label>
            <div class="col-sm-10">
              {% for filter in filters %}
                <div class="row">
                  <div class="col-sm-2">
                      <p style="text-align: right;">{{ filter.name }}</p>
                  </div>
                  <div class="col-sm-7">
                    <select name="module_filter_nik_filter_group_settings[{{ filter.filter_group_id }}][display_type]" id="input-filter-group-settings" class="form-control">
                      <option value="checkbox" {% if module_filter_nik_filter_group_settings[filter.filter_group_id].display_type == 'checkbox' %}selected{% endif %}>{{ text_checkbox }}</option>
                      <option value="radio" {% if module_filter_nik_filter_group_settings[filter.filter_group_id].display_type == 'radio' %}selected{% endif %}>{{ text_radio }}</option>
                      <option value="select" {% if module_filter_nik_filter_group_settings[filter.filter_group_id].display_type == 'select' %}selected{% endif %}>{{ text_select }}</option>
                      <option value="switch" {% if module_filter_nik_filter_group_settings[filter.filter_group_id].display_type == 'switch' %}selected{% endif %}>{{ text_switcher }}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" name="module_filter_nik_filter_group_settings[{{ filter.filter_group_id }}][display_count]" value="{{ module_filter_nik_filter_group_settings[filter.filter_group_id].display_count }}" class="form-control" placeholder="{{ entry_count_display_items }}">
                  </div>
                </div>
                <hr />
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_filter_nik_status" id="input-status" class="form-control">
                {% if module_filter_nik_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Доработка модуля</label>
            <div class="col-sm-10">
              <pre>
                1. Вставить данный код:

                if (isset($this->request->get['price_min'])) {
                    $price_min = $this->request->get['price_min'];
                } else {
                    $price_min = '';
                }

                if (isset($this->request->get['price_max'])) {
                    $price_max = $this->request->get['price_max'];
                } else {
                    $price_max = '';
                }

                в catalog/controller/product/category.php сразу после:

                if (isset($this->request->get['filter'])) {
                    $filter = $this->request->get['filter'];
                } else {
                    $filter = '';
                }

                2. Вставить данный код:

                if (isset($this->request->get['price_min'])) {
                    $url .= '&price_min=' . $this->request->get['price_min'];
                }

                if (isset($this->request->get['price_max'])) {
                    $url .= '&price_max=' . $this->request->get['price_max'];
                }

                все в том же файле, во всех местах, после этого кода:

                if (isset($this->request->get['filter'])) {
                    $url .= '&filter=' . $this->request->get['filter'];
                }

                3. В этом же файле контроллера категорий, перед инициализацией переменной $filter_data, вставить данный код:

                $currency_value = $this->currency->getValue($this->session->data['currency']);

                4. В сам массив $filter_data дописать такие ячейки:

                'price_min'          => $price_min,
                'price_max'          => $price_max,
                'currency_value'     => $currency_value,

                5. В catalog/model/catalog/product.php в функции getProducts() поменять эту строчку:

                $sql .= " LEFT JOIN " . DB_PREFIX . "product_description pd ON (p.product_id = pd.product_id) LEFT JOIN " . DB_PREFIX . "product_to_store p2s ON (p.product_id = p2s.product_id) WHERE pd.language_id = '" . (int)$this->config->get('config_language_id') . "' AND p.status = '1' AND p.date_available <= NOW() AND p2s.store_id = '" . (int)$this->config->get('config_store_id') . "'";

                на эту:

                $sql .= " LEFT JOIN " . DB_PREFIX . "product_description pd ON (p.product_id = pd.product_id) LEFT JOIN " . DB_PREFIX . "product_to_store p2s ON (p.product_id = p2s.product_id) LEFT JOIN " . DB_PREFIX . "product_special ps ON p.product_id = ps.product_id LEFT JOIN " . DB_PREFIX . "product_discount pds ON p.product_id = p2s.product_id WHERE pd.language_id = '" . (int)$this->config->get('config_language_id') . "' AND p.status = '1' AND p.date_available <= NOW() AND p2s.store_id = '" . (int)$this->config->get('config_store_id') . "'";

                6. Добавить этот код:

                if (!empty($data['price_min']) || !empty($data['price_max'])) {
                    if (!empty($data['price_min'])) {
                        $sql .= " AND (CASE WHEN ps.price*" . $data['currency_value'] . " IS NOT NULL THEN ps.price*" . $data['currency_value'] . " ELSE p.price*" . $data['currency_value'] . " END) >='" . $data['price_min'] . "'";
                    }

                    if (!empty($data['price_max'])) {
                        $sql .= " AND (CASE WHEN ps.price*" . $data['currency_value'] . " IS NOT NULL THEN ps.price*" . $data['currency_value'] . " ELSE p.price*" . $data['currency_value'] . " END) <='" . $data['price_max'] . "'";
                    }
                }

                перед этим:

                if (!empty($data['filter_manufacturer_id'])) {
                    $sql .= " AND p.manufacturer_id = '" . (int)$data['filter_manufacturer_id'] . "'";
                }

                7. С функцией getTotalProducts() проделать тоже самое что в 5 и 6 пункте.
              </pre>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
